<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center  ">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Feeds</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About us</a></li>
      </ul>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center border-bottom pb-3 mb-3">
          <ul class="social-network">
            <li><a href="#" class="iconFacebook" title="Facebook">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a></li>
            <li><a href="#" class="iconInstagram" title="Instagram">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a></li>
            <li><a href="#" class="iconLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a></li>
          </ul>
        </div>
      </div>      
      
      <p class="text-center text-muted">© 2021 Company, Blog</p>
    </footer>
</div>
